.item {
  margin: 0.2rem;
  padding: 1rem;
  background-color: burlywood;
  color: #222;
  border-radius: 1rem;
  text-align: center;
}

.header {
  width: 3rem;
  display: flex;
  margin: auto;

}

.header img {
  border-radius: 50%;
}

.message {
  margin: 0.1rem;
  padding: 0.5rem 0.2rem;
}

.footer {
  display: flex;
  justify-content: flex-end;
}