
.added {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: #222;
  border-radius: 1rem;
  margin: 0.5rem 0;
  padding: 1rem;
}
.title {
  margin: 1rem 0;
}
.added input {

}

.added button {
  margin: 0.5rem 0;
  
}

.posts {
  display: grid;
  grid-template: 1fr/ 1fr 1fr;
}