
.wrapper {
  max-width: 100%;
  display: grid;
  grid-template-rows: 4rem 1fr 1fr 5rem;
  grid-template-columns: 20% 65% 15%;
  grid-template-areas: 
    'header header header'
    'info-user content widgets'
    'navbar content widgets'
    'footer footer footer';
}