.content {
  display: grid;
  grid-template-columns: 2fr 5fr;
}

.dialogs {
  display: flex;
  flex-direction: column;
}

.dialog {
  display: flex;
  align-items: center;
  margin: 0.2rem;
  padding: 0.2rem;
  text-decoration: none;
  color: #222;
}

.dialog img {
  width: 3rem;
}

.dialog span {
  margin-left: 0.2rem;
  padding-left: 0.5rem;
}

.dialog:hover {
  color: red;
}

.active {
  text-decoration: underline;
}

.columnRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages {
}

.send {
  margin: 1rem 0;
}
.send button {
  margin: 0.5rem 0;
}